<article>
	<button class="consolidate-media">
		Consolidate Media
	</button>

	<p>
		Currently displaying {{dateBuckets.size}} days
	</p>

	<p>
		{% if previousPage %}
			<span>
				<a href="{{previousPage}}">←</a>
			</span>
		{% endif %}

		Page {{currentPageNumber}} of {{totalPages}}

		{% if nextPage %}
			<span>
				<a href="{{nextPage}}">→</a>
			</span>
		{% endif %}
	</p>
</article>

<ul class="media-grid">
	{% for bucketTitle, dateBucket in dateBuckets %}
		<li class='media-grid__list-item {{ "media-grid__list-item--excluded" if dateBucket.excluded }} '>
			<ol class="media-grid__alternatives">
				{% for mediaItem in dateBucket.items %}						
					{% if mediaItem.isSelected %}
						<li class="media-grid__alternatives-list-item media-grid__alternatives-list-item--active">
					{% else %}
						<li class="media-grid__alternatives-list-item">
					{% endif %}
						<p
							data-is-video="{{mediaItem.isVideo}}"
							data-formatted-date="{{mediaItem.formattedDate}}"
							data-url="{{mediaItem.url}}"
							data-name="{{mediaItem.filename}}"
							data-mini-video-segment="{{mediaItem.miniVideoSegment}}"
							data-id="{{mediaItem.id}}"
						>
							{% if mediaItem.isVideo %}
								🎥️ &nbsp;{{mediaItem.videoDuration}}
							{% else %}
								🖼️
							{% endif %}
						</p>
					</li>
				{% endfor %}
			</ol>

			{% set selectedMediaItem = dateBucket.selectedMediaItem %}
			{% include './media-grid-primary-item.html' %}
		</li>
	{% endfor %}
</ul>
