@import 'home/featured';

.buttons-container {
	margin-top: 2em;
}

$grid-item-width: 200px;

.media-grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

	li {
		list-style-type: none;
	}

	video, img {
		object-fit: cover;
		width:100%;
		height:100%;
	}
}

.media-grid__list-item--excluded {
	opacity: 0.2;
	background: lightgoldenrodyellow;
}

.media-grid__primary-item__date {
	background: rgba(0, 0, 0, 0.9);
	color: white;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 0;
}

.media-grid__list-item {
}

.media-grid__alternatives {
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	justify-content: space-between;
}

.media-grid__alternatives-list-item {
	flex: 45%;
	max-width: 45%;
	background-color: #e8eefd;
	outline: 1px solid transparent;
	margin-bottom: 10px;

	&:hover {
		background-color: white;
	}

	&.media-grid__alternatives-list-item--active {
		background-color: white;
		cursor: default;
		outline: 1px solid lightgrey;
	}

	p {
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 14px;
		margin: 0;
		padding: 5px;
	}
}