<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{config.productName}}">
    <link rel="icon" type="image/jpeg" href="{{rev('img/favicon.png')}}" />

    {% if title %}
      <title>{{ title }} - {{config.productName}}</title>
    {% else %}
      <title>{{config.productName}}</title>
    {% endif %}
    <link rel="stylesheet" href="{{rev('css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800%7cCardo:400italic%7cMerriweather:400,300,300italic,400italic&display=swap' rel='stylesheet' type='text/css'>
    {% block css %}{% endblock %}

  </head>
  <body>
    {% include "./partials/nav.html" %}
    {% include "./partials/flash.html" %}
    {% block content %}
    {% endblock %}
    {% include "./partials/footer.html" %}
    <script>
      window.everyDayVideoConfig = {
        thumbnailsAmount: {{config.thumbnailsAmount}}
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks-slim.min.js" integrity="sha256-tdB3uMy+X5YRM5JMGgy1oMtdSm1GwTEMmWb7q80e2+g=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>

    <script src="{{rev('js/templates.js')}}"></script>
    <script async src="{{rev('js/main.js')}}"></script>
    {% block js %}{% endblock %}

    <!-- TODO: Only enable for development! -->
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
  </body>
</html>
